# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
build/
.vite/
.vscode/

# System
.DS_Store
Thumbs.db

# Coverage
coverage/

# Optional editor settings
*.swp
*.swo
.idea/
*.code-workspace

# Test
cypress/videos/
cypress/screenshots/

# TypeScript
*.tsbuildinfo

# Misc
*.log
*.zip
